
body {
    font-family: Roboto;
    color: #000;
}

a {
    color: #00853D;
}

a:hover {
    color: #006d32;
}

h1 h2 h3 h4 h5 h6 {
    color: #000;
}

.btn-blue .dashboard-banner .wrapper-msg .msg.has-actions .donate-actions .action-donate, .account-settings-sections .section .account-deletion-details .paragon__modal-open .paragon__btn:not(.cancel-btn), .login-register .action-primary, .financial-assistance-wrapper .financial-assistance-form .action-primary, .verification-process .action-primary-blue, .verification-process .carousel .wrapper-task .controls .control .action, .verification-process .carousel .wrapper-task .controls .control .entitlement-actions-wrapper .entitlement-action, .entitlement-actions-wrapper .verification-process .carousel .wrapper-task .controls .control .entitlement-action, .verification-process .carousel .wrapper-task .msg .list-actions .action-retakephotos a, .verification-process .carousel #wrapper-review .review-task-name .list-actions .action-editname a, .verification-process.step-select-track .register-choice-audit .action-select input, .verification-process.step-confirmation .course-info .options .action-course, .verification-process.step-confirmation .course-info .course-actions .action-dashboard, .reverify-blocked .action-primary, .wrapper-authorize .btn-authorization-allow, .wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn, .text-me-fragment form .form-field .action-primary, .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy .btn-change-privacy {
    background: #00853D;
}

.dropdown-user-menu {
    border: 1px solid #00853D;
    color: #00853D;
}

.title {
    font-weight: bold;
    color: #000000;
    margin: 3px 0 5px 0;
}

.courses {
    border-bottom: 3px solid #00853D;
}

.wfooter {
    background: #252525;
    color: #fff;
}

.wrapper-footer > ul {
    list-style-type: none;
}

.content-wrapper .course-tabs .nav-item .nav-link {
    color: #00853D;
}